@model ApplicationForTest.Models.Test

@{

    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    @if (User.IsInRole("User"))
    {
        <p></p>
    }
    else
    {
        <p>
            <a asp-action="CreateQuestion" asp-route-id="@Model.Id">Create New Question</a>
        </p>
    }
</div>
<div>
    @if (User.IsInRole("User"))
    {
        <p></p>
    }
    else
    {
        <p>

            <a asp-action="EditTest" asp-route-id="@Model.Id">Edit</a> |
        </p>
    }
    <a asp-action="IndexTests" asp-route-id="@Model.CourseId">Back to List</a>
</div>

