@model List<ApplicationForTest.Models.Question>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
</script>
@{
    ViewData["Title"] = "Question List";
    var testId = ViewData["id"];
    var count = ViewData["count"];
    var answ = ViewBag.Answer;

}

<h1>Questions List</h1>

@if (User.IsInRole("User"))
{
    <p></p>
}
else
{
    <p>
        <a asp-action="CreateQuestion" asp-route-id="@testId">Create New Question </a>
    </p>
}

<form>

    @if (Model.Count() > 0)
    {
       var index = 1;
        <div id="parent">
            
                @for (var i = 0; i < Model.Count(); i++)
                {
                    @if (Model.Count() > 0)
                    {
                        <div style="@(index==1 ? "display:block" : "display:none")">
                            <div>
                                @*<p>  <a asp-action="CreateAnswer" asp-route-id="@item.Id">Create New Answer </a>  </p>*@
                                <td>@Model[i].Name</td>
                            </div>
                            <div>
                                <td>@Model[i].Description</td>
                            </div>
                            @*<div>
                                @foreach (var answer in Model[i].Answers)
                                {
                                    <div class="form-check" asp-action="GetResultQuestion" id="">
                                        <input class="form-check-input" type="radio" name="@answer.QuestionId" id="@answer.QuestionId">
                                        <label class="form-check-label" for="@answer.Name">
                                            @answer.Name
                                        </label>
                                        <input hidden class="form-check-input" type="radio" name="@answer.Name" id="@answer.QuestionId" checked="checked">
                                    </div>
                                    <label id="correctans" name="@answer.isRight"
                                           style="display:none;color:forestgreen" class="rb">
                                        @answer.Name
                                    </label>
                                }
                            </div>*@
                           
                        </div>
                    
                    }
                    index++;
                }
                   @* @if (index == Model.Count() - 1)
                    {
                        <input type="submit" onclick="execute()" class="btn btn-success" value="Submit" />
                    }
                    else
                    {

                    <button id="butexam">Next </button>
                    }*@

              
            
        </div>
        <a asp-action="DetailsTest" asp-route-id="@testId">Back To Question</a>
    }
    else
    {
        <h3>Нет данных для отображения</h3>
    }

<a class="btn btn-primary" id="butexam">Next </a>
</form>

<br />
<br />
<label id="result"></label>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
      
    $(document).ready(function () {
        var index = 1;
        console.log(index);
        $("#butexam").click(function () {
            var element = document.getElementById("parent");
            console.log(element);
            //var children = element.children;
            //for (var i = 0; i < children.length; i++) {
            //    var child = children[i];
            //    console.log(child);
            //}
        });

    });
        //var marks = 0;
        //function validateAns(correctans) {

        //    //alert(correctans);
        //    var selectedAnswer = $("input[type='radio']:checked").val();
        //    if (selectedAnswer === correctans) {
        //        console.log(selectedAnswer);
        //        marks += 1;
        //    }
        //}
        //function Displayresult() {
        //    document.getElementById("result").innerHTML = marks;

        //}
    
         
</script>