@model IEnumerable<ApplicationForTest.Models.Course>

@{
    ViewData["Title"] = "Courses List";
    var count = ViewData["count"];

}

<h1>Courses List</h1>
@if (User.IsInRole("User"))
{
    <p></p>
}
else
{
 <p>
    <a asp-action="Create">Create New Course</a>
</p>   
}




@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)

                </th>

                <th>
                Count Tests
                </th>
                
            </tr>
        </thead>
        <tbody>



            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        <a asp-action="IndexTests" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Tests.Count)
                    </td>
                        @if (User.IsInRole("User"))
                        {
                            <p></p>
                        }
                        else
                        {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                            
                        }
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <h3>Нет данных для отображения</h3>
}