@model List<ApplicationForTest.Models.Question>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
</script>
@{
    ViewData["Title"] = "Question List";
    var testId = ViewData["id"];
    var count = ViewData["count"];
    var answ = ViewBag.Answer;
}

<h1>Questions List</h1>

@if (User.IsInRole("User"))
{
    <p></p>
}
else
{
    <p>
        <a asp-action="CreateQuestion" asp-route-id="@testId">Create New Question </a>
    </p>
}

<form asp-action="Result" method="post">

    @if (Model.Count() > 0)
    {
       var index = 1;
        <div id="parent">
            
            @for (var i = 0; i < Model.Count(); i++)
                {
                    @if (Model.Count() > 0)
                    {
                        <div style="@(index==1 ? "display:block" : "display:none")">
                            <div>
                                <td>@Model[i].Name</td>
                            </div>
                            <div>
                                <td>@Model[i].Description</td>
                            </div>
                            <div>
                            <p>  <a asp-action="CreateAnswer" asp-route-id="@Model[i].Id">Create New Answer </a>  </p>
                                @foreach (var answer in Model[i].Answers)
                                {
                                    <div class="form-check" asp-action="GetResultQuestion" id="">
                                    <input  class="form-check-input radio" type="radio" name="answer"
                                           id="@answer.QuestionId" value="(@answer.isRight)">
                                        <label class="form-check-label" for="@answer.Name">
                                            @answer.Name
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    index++;
                }
        </div>
        <input id="countCorrect" hidden name="countCorrectAnsw" type="number" />
            <a class="btn btn-primary" id="butexam">Next </a>
        <button id="butsub" type="submit" class="btn btn-danger" style="display:none" >Submit</button>
    }
    else
    {
        <h3>Нет данных для отображения</h3>
    }
    
</form>
<br />
<br />
        <a asp-action="DetailsTest" asp-route-id="@testId">Back To Test</a>
<br />
<br />
<label id="result"></label>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var index = 1;

        var marks = 0;
       
        $("#butexam").click(function () {
            var element = document.getElementById("parent");
            var butsub = document.getElementById("butsub")
            var butexam = document.getElementById("butexam")
            var selectedAnswer = $("input:radio[name='answer']:checked").val();

            if (selectedAnswer === "(True)") {

                marks++;
            }
            //document.getElementById("result").innerHTML = marks;

            $('#countCorrect').val(marks);
            
          
            var children = element.children;
            for (var i = 0; i < children.length; i++) {
                var child = children[i];

                child.setAttribute("style", "display:none")
                if(index==i){

                child.setAttribute("style", "display:block")
                butexam.setAttribute("style", "display:block");
                }

            }
            if (index==children.length){
                butsub.setAttribute("style", "display:block");
                butexam.setAttribute("style", "display:none");

            }
                ++index;
        });
    });

</script>